.env
.phpunit.result.cache
.vscode
/node_modules
/public/css
/public/fonts
/public/hot
/public/js
/public/mix-manifest.json
/public/modules
/public/storage
/public/vendor
/public/images
/storage/*.key
/storage/api-docs/api-docs.json
/vendor
composer.lock
Homestead.json
Homestead.yaml
laravel-echo-server.json
laravel-echo-server.lock
npm-debug.log
package-lock.json
yarn-error.log
/config/pacman.php
